<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
<div class="form">
    <h2>Личный кабинет преподавателя</h2>

    <form action="/prof/create-task">
        <button type="submit">Создать задание</button>
    </form>

    <form action="/prof/get-tasks">
        <button type="submit">Просмотреть созданные задания</button>
    </form>

    <form action="/prof/registration">
        <button type="submit">Зарегистрировать нового преподавателя</button>
    </form>

    <form action="/prof/forum">
        <button type="submit">Открыть форум</button>
    </form>

    <form action="/">
        <button type="submit">Выйти</button>
    </form>
</div>
</body>
</html>